body{
    font-family: carnas_regular;
}

.logo{
    background-color:#046EA5;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#046EA5, endColorstr=#04689D);
    background-image:-moz-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-webkit-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-o-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-ms-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(7%,#046EA5), color-stop(30%,#04689D),color-stop(81%,#024170));
    background-repeat: no-repeat;
}
.logo>h1{
    font-family: segoe-ui-bold;
}
.logo>p{
    font-size: 25px;
    font-style: italic;
    margin:-1% 0 0 0;
}

.logo_mid{
    font-size: 50px;
    font-family: segoe-ui-bold;
}

.tagline_mid{
    font-size:25px !important;
    margin:-3% 0 0 0 !important;
}

.logo_small{
    font-size: 25px;
    font-family: segoe-ui-bold;
}

.tagline_small{
    font-size: 12px !important;
    margin:-4% 0 0 0 !important;
}



.menu>ul>li{
    display: inline;
    margin-left: 2%;
    
}

.menu>ul>li>a{
    color:white;
    font-size: 18px;
    cursor: pointer;
}

#sub_menu{
    width:11.4%;
    overflow: hidden;
    margin:0 0 0 0;
    text-decoration: none
}
#sub_menu>li{
    
}
#sub_menu>li>a{
    font-size:12px;
    color:white;
    background-color: #E91E63;
    
    
}
.about_view,.hydraulic_view,.pneumatic_view,.earthmoving_view,.client_view,.enquiry_view,.contact_view{
    display:none;
}
ul>li>a:hover{
    border-bottom: 1px solid white;
}

ul>li>a:nth-child(3):hover{
    border-bottom: 20px solid red !important;
}

.btn-floating{
    
}

/*Product  slider */
ul{
   list-style: none outside none;
   padding-left: 0;
   margin: 0;
}
        
.product_slider .item{
  margin-bottom: 60px;
}

.slider2 .item{
    margin-bottom: 60px;
}

.content-slider li{
    /*background-color: #ed3020;*/
    text-align: center;
    /*color: #FFF;*/
}

.client-slider li{
    /*background-color: #ed3020;*/
    text-align: center;
    /*color: #FFF;*/
}

.content-slider h3 {
    margin: 0;
    padding: 10px 0;
    height: 150px;
}

.client-slider h3 {
    margin: 0;
    padding: 10px 0;
    height: 150px;
}

/*.content-slider img {
    margin: 0;
    padding: 30px 0;
    height: 350px;
}*/

.product_slider{
  width: 100%;
}

.client-slider{
  width: 100%;
}

/*Product slider Ends */

/*third-row home */
.third-row{
 margin:-1.1% 0 0 1%   
}

.third-row>div>div{
  /*overflow:auto;*/ 
/*   height: 10px ;*/
   position: relative;
   /*border:1px dashed gray;*/
       
}

.p-heading{
    /*position: absolute;*/
    
}
/*.third-row>div>div>ol{
  margin-top:20%;
  height: 100%;
  overflow: auto;
}*/
.third-row>div>div>ol>li{
    font-size: 14px;
    
}

.third-row>div>div>ol::-webkit-scrollbar {
    width: 10px;
    background-color:#046EA5;
    filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#046EA5, endColorstr=#04689D);
    background-image:-moz-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-webkit-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-o-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-ms-linear-gradient(top, #046EA5 7%, #04689D 30%,#024170 81%);
    background-image:-webkit-gradient(linear, right top, right bottom, color-stop(7%,#046EA5), color-stop(30%,#04689D),color-stop(81%,#024170));
    background-repeat: no-repeat;
} 

.third-row>div>div::-webkit-scrollbar-track {
      background-color: #046EA5;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color:#E91E63;
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #046EA5;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
}

/*third-row home end */

/*home view */

/*home view */
/*about us */

.about_view{
   margin:5.4% 0 0 0; 
   padding:0 0 0 8%;
}

/*about us end */

/*client_view */
.client_view{
  margin:7.4% 0 0 0  
}

/*enquiry_view */
.input-field input[type=text]:focus {
     border-bottom: 1px solid #046DA3;
     /*box-shadow: 0 1px 0 0 #000;*/
}

.dropdown-content li > span{
    color:black /*enquiry dropdown*/
}
.enquiry_view{
    margin:-4% 0 0 0
}

/*contact_view */
.contact_view>div{
    margin:0.4% 0 0 0;
    font-size:13.1px;
    
}

/*earth moving*/
.earthmoving_view{
    margin:1.8% 0 0 0;
}
/*footer */
.footer{
   
}
.footer-copyright
{
    font-family:segoe-ui-bold; 
    font-size: 16px;
    margin:3% 0 0 25%;
}

.developer-logo
{
    font-family:Circles_New;font-size: 60px; margin:-3% 0 0 0 ;
}

.developer-logo>a{
    text-decoration: none;
    color:white;
}

.bounce {
/* position: absolute;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;*/
/* border: 2px solid white;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;*/
margin:0 0 0 0;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}
/*.developer-text
{
    margin: -20px;
    font-family: carnas_light;
    font-size: 24px;
}*/
/*footer ends */

/*product hover starts */

/*#fade-wrapper-hydraulic,#fade-wrapper-pneumatic,#fade-wrapper-earth{
    display: none;
    position: absolute;
    height: 678px;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    top:0;
    border:2px solid red;
    
}*/

.click-me-hydraulic,.click-me-pneumatic,.click-me-earth{
    cursor: pointer;
}
.hydraulic-content,.pneumatic-content,.earth-content{
    display:none;
    position: absolute;
}
.hydraulic-content{
   top:20%; 
}

.pneumatic-content{
  top:39.5%;
}

.earth-content{
    top:3.9%; 
}


/*product hover starts */

.footer_view{
   display:none;
   margin:0 0 0 0
   
}